[Unit]
Description=High speed downloader
After=netowrk-online.target

[Service]
ExecStart=/usr/bin/aria2c --console-log-level=warn --enable-rpc --rpc-listen-all
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
